<h4 class="span12 pagination-centered" style="margin-left:20px;font-size:10px;">Need help? Encountered a bug? Contact <a href="mailto:admin@drawdoge.com?Subject=Doge%20Problem">admin@drawdoge.com</a></h4>

    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="js/socket.io.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/colorpicker.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
